/* top */
body.no-scroll ytd-app[ytcex-fullscreen-chat] {
	& #columns #secondary {
		position: unset;
	}
	&[ytcex-fullscreen-chat-chat-docking] {
		& ytd-watch-flexy {
			overflow: clip;
		}
		& #full-bleed-container {
			width: calc(100vw - 400px);
			overflow: unset;

			& .html5-video-player {
				overflow: unset;
				z-index: unset;
			}
			& .html5-video-container {
				position: absolute;
				width: 100%;
				height: 100%;

				& > .html5-main-video {
					position: unset;
					width: 100% !important;
					height: 100% !important;
					object-fit: contain;
				}
			}
			& .ytp-storyboard-framepreview .ytp-storyboard-framepreview-img {
				width: 100vw;
				transform: scale(calc((1920 - 400) / 1920));	/* TODO */
				transform-origin: left;
			}
			& .ytp-offline-slate-background {
				background-size: contain;
				background-repeat: no-repeat;
			}
			& .ytp-iv-video-content {
				width: calc(100vw - 400px)!important;	/* TODO */
			}
			& .ytp-gradient-bottom {
				width: 100vw;
				z-index: 602;
			}
			& .ytp-chrome-bottom {
				z-index: 602;
			}
		}
		& ytd-live-chat-frame#chat {
			border-radius: unset;

			&:hover {
				z-index: 603;
			}
			> iframe#chatframe {
				border-radius: unset;
			}
		}
	}
}


/* child */
:root {
	--ytcex-fullscreen-chat-font-size: 16px;
	--ytcex-fullscreen-chat-background-blur: 0px;
	--ytcex-fullscreen-chat-opacity-def: 0.6;
	--ytcex-fullscreen-chat-opacity-hover: 0.9;
	--ytcex-fullscreen-chat-card-opacity-def: 0.9;
	--ytcex-fullscreen-chat-card-opacity-hover: 0.9;
}
yt-live-chat-app[ytcex-fullscreen-chat] {
	/* base grab-button */
	& #chat-messages yt-live-chat-header-renderer > yt-live-chat-button#ytcex-fullscreen-move {
		display: none;
	}
	/* base resize-buttons*/
	& #resizeButton {
		display: none;
	}
	/* base chat-item-offset */
	& #item-offset.yt-live-chat-item-list-renderer {
		min-height: 100% !important;
	}

	&[ytcex-fullscreen-chat-fullscreen] {
		/* base background/border */
		&:not([ytcex-fullscreen-chat-chat-docking]) {
			/* border */
			& #panel-pages.yt-live-chat-renderer {
				border-bottom: none;
			}
			/* delete background */
			& :is(
				yt-live-chat-renderer,
				yt-live-chat-header-renderer,
				yt-live-chat-ticker-renderer,
				tp-yt-paper-dialog,
				ytd-engagement-panel-section-list-renderer[dialog] #content.ytd-engagement-panel-section-list-renderer,
				yt-live-chat-toast-renderer[is-message-visible],
				yt-live-chat-message-input-renderer,
				#container.yt-live-chat-restricted-participation-renderer,
				yt-live-chat-message-renderer,
				#loading.yt-live-chat-renderer,
				yt-live-chat-paid-sticker-panel-renderer,
				#header.yt-live-chat-paid-sticker-panel-renderer,
				yt-live-chat-super-sticker-pack-renderer,
				yt-live-chat-super-sticker-pack-item-button-renderer:not(:hover),
				yt-live-chat-super-sticker-preview-renderer,
				#header.yt-live-chat-super-sticker-preview-renderer,
				#footer.yt-live-chat-super-sticker-preview-renderer,
				#back-button.yt-live-chat-super-sticker-preview-renderer,
				yt-live-chat-message-buy-flow-renderer,
				#pickers-container.yt-live-chat-message-buy-flow-renderer,
				ytd-sponsorships-gift-offer-header-renderer,
				ytd-sponsorships-gift-offer-body-renderer,
				yt-live-chat-qna-start-panel-renderer,
				#spinner-container.yt-live-chat-qna-start-panel-renderer,
				yt-live-chat-poll-editor-panel-renderer,
				#spinner-container.yt-live-chat-poll-editor-panel-renderer,
				#header.yt-live-chat-participant-list-renderer,
				#left-arrow-container.yt-live-chat-ticker-renderer,
				#right-arrow-container.yt-live-chat-ticker-renderer,
				yt-live-chat-banner-manager[has-active-banner],
				tp-yt-paper-listbox.yt-dropdown-menu,
				ytd-menu-popup-renderer,
				#dropdown.yt-live-chat-text-input-field-renderer,
				#header.yt-live-chat-product-picker-panel-view-model,
				yt-live-chat-product-picker-panel-item-view-model
			) {
				background: none;
			}
			/* static opacity */
			& yt-live-chat-text-message-renderer[author-is-owner]:not(:hover) {
				background-color: rgba(255,255,255,0.075);
			}
			& #endpoint.yt-live-chat-product-button-renderer:hover {
				background: var(--yt-spec-10-percent-layer);
			}
			& yt-live-chat-message-input-renderer[updated-input-visuals] #input-container.yt-live-chat-message-input-renderer {
				background: none;
				backdrop-filter: contrast(0.8);
			}
			& yt-live-chat-text-input-field-suggestion:hover tp-yt-paper-item.yt-live-chat-text-input-field-suggestion, yt-live-chat-text-input-field-suggestion[active] tp-yt-paper-item.yt-live-chat-text-input-field-suggestion {
				background: var(--yt-spec-10-percent-layer);
			}
			& :is(#search-panel.yt-emoji-picker-renderer, #search-panel.yt-emoji-picker-renderer:focus-within) {
				background: none;
				backdrop-filter: contrast(0.525);
			}
			& :is(
				#title.yt-emoji-picker-upsell-category-renderer,
				#title.yt-emoji-picker-category-renderer
			) {
				background: none;
				backdrop-filter: contrast(0.825);
			}
			& #endpoint.yt-live-chat-product-picker-panel-item-view-model:hover {
				background: var(--yt-spec-10-percent-layer);
			}
			& .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text:hover {
				position: relative;
				background: none;

				&::before {
					opacity: 0.275;
					position: absolute;
					top: 0;
					left: 0;
					z-index: -1;
					width: 100%;
					height: 100%;
					border-radius: 18px;
					background: var(--yt-spec-call-to-action);
					content: '';
				}
			}
			& .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled {
				background: none;

				&:hover {
					background: var(--yt-spec-black-pure-alpha-30);
					backdrop-filter: contrast(0.5);
				}
			}
			/* configured opacity */
			& :is(
				yt-live-chat-renderer,
				tp-yt-paper-listbox.yt-dropdown-menu,
				ytd-menu-popup-renderer,
				#dropdown.yt-live-chat-text-input-field-renderer,
				#header.yt-live-chat-product-picker-panel-view-model,
				yt-live-chat-product-picker-panel-item-view-model
			) {
				position: relative;
			}
			& :is(
				yt-live-chat-renderer,
				tp-yt-paper-dialog,
				yt-live-chat-toast-renderer[is-message-visible],
				#spinner-container.yt-live-chat-qna-start-panel-renderer,
				#spinner-container.yt-live-chat-poll-editor-panel-renderer,
				tp-yt-paper-listbox.yt-dropdown-menu,
				ytd-menu-popup-renderer,
				#dropdown.yt-live-chat-text-input-field-renderer,
				#header.yt-live-chat-product-picker-panel-view-model,
				yt-live-chat-product-picker-panel-item-view-model
			)::before {
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				width: 100%;
				height: 100%;
				content: '';
			}
			/* acrylic */
			& :is(
				tp-yt-paper-dialog,
				yt-live-chat-toast-renderer[is-message-visible],
				#spinner-container.yt-live-chat-qna-start-panel-renderer,
				#spinner-container.yt-live-chat-poll-editor-panel-renderer,
				tp-yt-paper-listbox.yt-dropdown-menu,
				#dropdown.yt-live-chat-text-input-field-renderer,
				yt-live-chat-product-picker-panel-view-model
			) {
				backdrop-filter: blur(8px);
			}
			/* toast adjustment */
			& yt-live-chat-toast-renderer[is-message-visible] {
				opacity: 0;
				transition-property: transform, background-color, opacity;

				&[is-showing-message] {
					opacity: 1;
				}
			}
		}
		/* base grab-button */
		& #chat-messages yt-live-chat-header-renderer > yt-live-chat-button#ytcex-fullscreen-move {
			display: unset;

			& button {
				cursor: grab;

				&:active {
					cursor: grabbing;
				}
			}
		}
		/* base resize-buttons */
		&:not([ytcex-fullscreen-chat-chat-docking]) #resizeButton {
			position: absolute;
			display: grid;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			grid-template-columns: 8px 1fr 8px;
			grid-template-rows: 8px 1fr 8px;
			pointer-events: none;

			> * {
				margin: 0;
				padding: 0;
				background: none;
				border: none;
				outline: none;
				pointer-events: auto;
			}
			> :is(:nth-child(1),:nth-child(9)) {
				width: 8px;
				height: 8px;
				cursor: nwse-resize;
			}
			> :is(:nth-child(2),:nth-child(8)) {
				height: 5px;
				cursor: ns-resize;
			}
			> :is(:nth-child(3),:nth-child(7)) {
				width: 8px;
				height: 8px;
				cursor: nesw-resize;
			}
			> :is(:nth-child(4),:nth-child(6)) {
				width: 5px;
				cursor: ew-resize;
			}
			> :nth-child(5) {
				visibility: hidden;
			}
			> :nth-child(6) {
				margin-left: auto;
			}
			> :nth-child(8) {
				margin-top: auto;
			}
		}
		/* base ninja-hide TODO */
		&:not([ytcex-fullscreen-chat-chat-docking]) yt-live-chat-ninja-message-renderer {
			display: none;
		}
		/* optional text-outline */
		&:not([ytcex-fullscreen-chat-chat-docking])[ytcex-fullscreen-chat-text-outline] {
			text-shadow: 
				1px 1px 2px var(--yt-live-chat-background-color),
				1px 0px 2px var(--yt-live-chat-background-color),
				1px -1px 2px var(--yt-live-chat-background-color),
				0px 1px 2px var(--yt-live-chat-background-color),
				0px -1px 2px var(--yt-live-chat-background-color),
				-1px 1px 2px var(--yt-live-chat-background-color),
				-1px 0px 2px var(--yt-live-chat-background-color),
				-1px -1px 2px var(--yt-live-chat-background-color);

			& :is(img, svg) {
				filter: 
					drop-shadow(1px 1px .5px var(--yt-live-chat-background-color))
					drop-shadow(1px -1px .5px var(--yt-live-chat-background-color))
					drop-shadow(-1px 1px .5px var(--yt-live-chat-background-color))
					drop-shadow(-1px -1px .5px var(--yt-live-chat-background-color));
			}
			& button {
				text-shadow: none;
			}
			/* text-outline not-applicable-list */
			& :is(
				#ticker-items.yt-live-chat-ticker-renderer,
				yt-button-renderer.yt-live-chat-paid-message-renderer,
				yt-button-renderer.yt-live-chat-membership-item-renderer,
				yt-button-renderer.ytd-sponsorships-live-chat-gift-purchase-announcement-renderer,
				#author-name.owner.yt-live-chat-author-chip,
				#price.yt-live-chat-super-sticker-pack-item-button-renderer,
				#card.yt-live-chat-upsell-dialog-renderer,
				#inner.yt-live-chat-dialog-renderer,
				yt-tooltip-renderer,
				.yt-spec-button-shape-next--call-to-action-inverse.yt-spec-button-shape-next--text,
				.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--filled,
				.tp-yt-paper-tooltip[style-target=tooltip],
				#banner-content.yt-live-chat-qna-start-panel-renderer,
				#poll-editor.yt-live-chat-poll-editor-panel-renderer
			) {
				text-shadow: none;
			}
			/* text-outline card */
			& yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #card.yt-live-chat-paid-sticker-renderer {
				text-shadow: 
					1px 1px 2px var(--yt-live-chat-paid-sticker-background-color),
					1px 0px 2px var(--yt-live-chat-paid-sticker-background-color),
					1px -1px 2px var(--yt-live-chat-paid-sticker-background-color),
					0px 1px 2px var(--yt-live-chat-paid-sticker-background-color),
					0px -1px 2px var(--yt-live-chat-paid-sticker-background-color),
					-1px 1px 2px var(--yt-live-chat-paid-sticker-background-color),
					-1px 0px 2px var(--yt-live-chat-paid-sticker-background-color),
					-1px -1px 2px var(--yt-live-chat-paid-sticker-background-color);
			}
			& :is(yt-live-chat-paid-message-renderer #card.yt-live-chat-paid-message-renderer, #content.yt-live-chat-paid-message-renderer) {
				text-shadow: 
					1px 1px 2px var(--yt-live-chat-paid-message-background-color,#1565c0),
					1px 0px 2px var(--yt-live-chat-paid-message-background-color,#1565c0),
					1px -1px 2px var(--yt-live-chat-paid-message-background-color,#1565c0),
					0px 1px 2px var(--yt-live-chat-paid-message-background-color,#1565c0),
					0px -1px 2px var(--yt-live-chat-paid-message-background-color,#1565c0),
					-1px 1px 2px var(--yt-live-chat-paid-message-background-color,#1565c0),
					-1px 0px 2px var(--yt-live-chat-paid-message-background-color,#1565c0),
					-1px -1px 2px var(--yt-live-chat-paid-message-background-color,#1565c0);
			}
			& yt-live-chat-paid-message-renderer #header.yt-live-chat-paid-message-renderer {
				text-shadow: unset;
			}
			& #header.yt-live-chat-paid-message-renderer {
				text-shadow: 
					1px 1px 2px var(--yt-live-chat-paid-message-header-background-color,#125aac),
					1px 0px 2px var(--yt-live-chat-paid-message-header-background-color,#125aac),
					1px -1px 2px var(--yt-live-chat-paid-message-header-background-color,#125aac),
					0px 1px 2px var(--yt-live-chat-paid-message-header-background-color,#125aac),
					0px -1px 2px var(--yt-live-chat-paid-message-header-background-color,#125aac),
					-1px 1px 2px var(--yt-live-chat-paid-message-header-background-color,#125aac),
					-1px 0px 2px var(--yt-live-chat-paid-message-header-background-color,#125aac),
					-1px -1px 2px var(--yt-live-chat-paid-message-header-background-color,#125aac);
			}
			& :is(yt-live-chat-membership-item-renderer[show-only-header] #header.yt-live-chat-membership-item-renderer, #content.yt-live-chat-membership-item-renderer, #header.ytd-sponsorships-live-chat-header-renderer) {
				text-shadow: 
					1px 1px 2px var(--yt-live-chat-sponsor-color),
					1px 0px 2px var(--yt-live-chat-sponsor-color),
					1px -1px 2px var(--yt-live-chat-sponsor-color),
					0px 1px 2px var(--yt-live-chat-sponsor-color),
					0px -1px 2px var(--yt-live-chat-sponsor-color),
					-1px 1px 2px var(--yt-live-chat-sponsor-color),
					-1px 0px 2px var(--yt-live-chat-sponsor-color),
					-1px -1px 2px var(--yt-live-chat-sponsor-color);
			}
			& #header.yt-live-chat-membership-item-renderer {
				text-shadow: 
					1px 1px 2px var(--yt-live-chat-sponsor-header-color),
					1px 0px 2px var(--yt-live-chat-sponsor-header-color),
					1px -1px 2px var(--yt-live-chat-sponsor-header-color),
					0px 1px 2px var(--yt-live-chat-sponsor-header-color),
					0px -1px 2px var(--yt-live-chat-sponsor-header-color),
					-1px 1px 2px var(--yt-live-chat-sponsor-header-color),
					-1px 0px 2px var(--yt-live-chat-sponsor-header-color),
					-1px -1px 2px var(--yt-live-chat-sponsor-header-color);
			}
			& :is(#card.yt-live-chat-viewer-engagement-message-renderer, #bumper-content.yt-bumper-user-edu-content-view-model) {
				text-shadow: 
					1px 1px 2px var(--yt-live-chat-vem-background-color),
					1px 0px 2px var(--yt-live-chat-vem-background-color),
					1px -1px 2px var(--yt-live-chat-vem-background-color),
					0px 1px 2px var(--yt-live-chat-vem-background-color),
					0px -1px 2px var(--yt-live-chat-vem-background-color),
					-1px 1px 2px var(--yt-live-chat-vem-background-color),
					-1px 0px 2px var(--yt-live-chat-vem-background-color),
					-1px -1px 2px var(--yt-live-chat-vem-background-color);
			}
			& #banner-container.yt-live-chat-banner-renderer {
				text-shadow: 
					1px 1px 2px var(--yt-spec-inverted-background),
					1px 0px 2px var(--yt-spec-inverted-background),
					1px -1px 2px var(--yt-spec-inverted-background),
					0px 1px 2px var(--yt-spec-inverted-background),
					0px -1px 2px var(--yt-spec-inverted-background),
					-1px 1px 2px var(--yt-spec-inverted-background),
					-1px 0px 2px var(--yt-spec-inverted-background),
					-1px -1px 2px var(--yt-spec-inverted-background);
			}
			& yt-live-chat-toast-renderer[is-message-visible] {
				text-shadow: 
					1px 1px 2px var(--yt-live-chat-toast-background-color),
					1px 0px 2px var(--yt-live-chat-toast-background-color),
					1px -1px 2px var(--yt-live-chat-toast-background-color),
					0px 1px 2px var(--yt-live-chat-toast-background-color),
					0px -1px 2px var(--yt-live-chat-toast-background-color),
					-1px 1px 2px var(--yt-live-chat-toast-background-color),
					-1px 0px 2px var(--yt-live-chat-toast-background-color),
					-1px -1px 2px var(--yt-live-chat-toast-background-color);
			}
			/* img-outline not-applicable-list */
			& :is(
				#ticker-items.yt-live-chat-ticker-renderer,
				#left-arrow-container.yt-live-chat-ticker-renderer,
				#right-arrow-container.yt-live-chat-ticker-renderer,
				yt-button-renderer.yt-live-chat-paid-message-renderer,
				yt-button-renderer.yt-live-chat-membership-item-renderer,
				yt-button-renderer.ytd-sponsorships-live-chat-gift-purchase-announcement-renderer,
				#author-photo,
				yt-live-chat-author-badge-renderer[type="verified"] #image,
				#show-more.yt-live-chat-item-list-renderer,
				#banner-content.yt-live-chat-qna-start-panel-renderer,
				#poll-editor.yt-live-chat-poll-editor-panel-renderer,
				.avatar.ytd-sponsorships-avatar-renderer
			) :is(img, svg) {
				filter: none;
			}
			/* img-outline card */
			& yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #card.yt-live-chat-paid-sticker-renderer :is(img, svg) {
				filter: 
					drop-shadow(1px 1px .5px var(--yt-live-chat-paid-sticker-background-color))
					drop-shadow(1px -1px .5px var(--yt-live-chat-paid-sticker-background-color))
					drop-shadow(-1px 1px .5px var(--yt-live-chat-paid-sticker-background-color))
					drop-shadow(-1px -1px .5px var(--yt-live-chat-paid-sticker-background-color));
			}
			& :is(yt-live-chat-paid-message-renderer #card.yt-live-chat-paid-message-renderer, #content.yt-live-chat-paid-message-renderer) :is(img, svg) {
				filter: 
					drop-shadow(1px 1px .5px var(--yt-live-chat-paid-message-background-color,#1565c0))
					drop-shadow(1px -1px .5px var(--yt-live-chat-paid-message-background-color,#1565c0))
					drop-shadow(-1px 1px .5px var(--yt-live-chat-paid-message-background-color,#1565c0))
					drop-shadow(-1px -1px .5px var(--yt-live-chat-paid-message-background-color,#1565c0));
			}
			& :is(yt-live-chat-membership-item-renderer[show-only-header] #header.yt-live-chat-membership-item-renderer, #content.yt-live-chat-membership-item-renderer, #header.ytd-sponsorships-live-chat-header-renderer) :is(img, svg) {
				filter: 
					drop-shadow(1px 1px .5px var(--yt-live-chat-sponsor-color))
					drop-shadow(1px -1px .5px var(--yt-live-chat-sponsor-color))
					drop-shadow(-1px 1px .5px var(--yt-live-chat-sponsor-color))
					drop-shadow(-1px -1px .5px var(--yt-live-chat-sponsor-color));
			}
			& #header.yt-live-chat-membership-item-renderer :is(img, svg) {
				filter: 
					drop-shadow(1px 1px .5px var(--yt-live-chat-sponsor-header-color))
					drop-shadow(1px -1px .5px var(--yt-live-chat-sponsor-header-color))
					drop-shadow(-1px 1px .5px var(--yt-live-chat-sponsor-header-color))
					drop-shadow(-1px -1px .5px var(--yt-live-chat-sponsor-header-color));
			}
			& :is(#card.yt-live-chat-viewer-engagement-message-renderer, #bumper-content.yt-bumper-user-edu-content-view-model) :is(img, svg) {
				filter: 
					drop-shadow(1px 1px .5px var(--yt-live-chat-vem-background-color))
					drop-shadow(1px -1px .5px var(--yt-live-chat-vem-background-color))
					drop-shadow(-1px 1px .5px var(--yt-live-chat-vem-background-color))
					drop-shadow(-1px -1px .5px var(--yt-live-chat-vem-background-color));
			}
			& #banner-container.yt-live-chat-banner-renderer :is(img, svg) {
				filter: 
					drop-shadow(1px 1px .5px var(--yt-spec-inverted-background))
					drop-shadow(1px -1px .5px var(--yt-spec-inverted-background))
					drop-shadow(-1px 1px .5px var(--yt-spec-inverted-background))
					drop-shadow(-1px -1px .5px var(--yt-spec-inverted-background));
			}
			/* margin */
			& :is(
				yt-dropdown-menu .yt-dropdown-menu[style-target=label-text],
				tp-yt-paper-item-body,
				tp-yt-paper-item-body > *,
				#author-name.single-line.yt-live-chat-author-chip,
				#primary-text.ytd-sponsorships-live-chat-header-renderer,
				yt-live-chat-banner-header-renderer,
				#content.yt-live-chat-text-message-renderer,
				yt-live-chat-text-input-field-renderer[updated-input-visuals] #label.yt-live-chat-text-input-field-renderer,
				#input.yt-live-chat-text-input-field-renderer,
				#title.yt-live-chat-product-picker-panel-view-model,
				.yt-core-attributed-string--ellipsis-truncate,
				#content-top.yt-live-chat-call-for-questions-renderer #metadata-text.yt-live-chat-call-for-questions-renderer,
				#label-text.yt-live-chat-poll-choice,
				.yt-spec-button-shape-next__button-text-content
			) {
				margin-left: -2px;
				margin-right: -2px;
				padding-left: 2px;
				padding-right: 2px;
			}
			& #input.yt-live-chat-text-input-field-renderer {
				margin-top: -2px;
				margin-bottom: -2px;
				padding-top: 4px;
				padding-bottom: 4px;
			}
			& iron-input.tp-yt-paper-input > input.style-scope.tp-yt-paper-input::placeholder {
				padding-left: 2px;
			}
		}
		/* optional font-size */
		yt-live-chat-text-message-renderer {
			font-size: var(--ytcex-fullscreen-chat-font-size);
		}
		/* optional background-blur */
		&:not([ytcex-fullscreen-chat-chat-docking])::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			filter: blur(var(--ytcex-fullscreen-chat-background-blur));
			backdrop-filter: blur(var(--ytcex-fullscreen-chat-background-blur));
			content: '';
		}
		/* optional opacity-def */
		&:not([ytcex-fullscreen-chat-chat-docking]) {
			yt-live-chat-renderer::before {
				background-color: var(--yt-live-chat-background-color);
			}
			tp-yt-paper-dialog::before {
				background-color: var(--paper-dialog-background-color, var(--primary-background-color));
			}
			yt-live-chat-toast-renderer[is-message-visible]::before {
				background-color: var(--yt-live-chat-toast-background-color);
			}
			:is(
				#spinner-container.yt-live-chat-qna-start-panel-renderer,
				#spinner-container.yt-live-chat-poll-editor-panel-renderer
			)::before {
				background-color: var(--yt-live-chat-action-panel-background-color);
			}
			tp-yt-paper-listbox.yt-dropdown-menu::before {
				background-color: var(--yt-spec-brand-background-primary);
			}
			ytd-menu-popup-renderer::before {
				background-color: var(--yt-spec-menu-background);
			}
			#dropdown.yt-live-chat-text-input-field-renderer::before {
				background-color: var(--yt-live-chat-text-input-field-suggestion-background-color,#fff);
			}
			:is(#header.yt-live-chat-product-picker-panel-view-model, yt-live-chat-product-picker-panel-item-view-model)::before {
				background-color: var(--yt-spec-base-background);
			}
			:is(
				yt-live-chat-renderer,
				tp-yt-paper-dialog,
				yt-live-chat-toast-renderer[is-message-visible],
				#spinner-container.yt-live-chat-qna-start-panel-renderer,
				#spinner-container.yt-live-chat-poll-editor-panel-renderer,
				tp-yt-paper-listbox.yt-dropdown-menu,
				ytd-menu-popup-renderer,
				#dropdown.yt-live-chat-text-input-field-renderer,
				#header.yt-live-chat-product-picker-panel-view-model,
				yt-live-chat-product-picker-panel-item-view-model
			)::before {
				opacity: var(--ytcex-fullscreen-chat-opacity-def);
			}
			yt-live-chat-banner-manager[has-active-banner]::before {	/* parent is "position: absolute;" */
				opacity: var(--ytcex-fullscreen-chat-opacity-def);
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				width: 100%;
				height: 100%;
				background: var(--yt-live-chat-banner-gradient-scrim);
				content: '';
			}
		}
		/* optional opacity-hover */
		&:not([ytcex-fullscreen-chat-chat-docking]):hover :is(
			yt-live-chat-renderer,
			tp-yt-paper-dialog,
			yt-live-chat-toast-renderer[is-message-visible],
			#spinner-container.yt-live-chat-qna-start-panel-renderer,
			#spinner-container.yt-live-chat-poll-editor-panel-renderer,
			tp-yt-paper-listbox.yt-dropdown-menu,
			ytd-menu-popup-renderer,
			yt-live-chat-banner-manager[has-active-banner],
			#dropdown.yt-live-chat-text-input-field-renderer,
			#header.yt-live-chat-product-picker-panel-view-model,
			yt-live-chat-product-picker-panel-item-view-model
		)::before {
			opacity: var(--ytcex-fullscreen-chat-opacity-hover);
			transition: opacity .2s;
		}
		/* optional card-opacity-def */
		&:not([ytcex-fullscreen-chat-chat-docking]) {
			& :is(
				yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #card.yt-live-chat-paid-sticker-renderer,
				yt-live-chat-paid-message-renderer #card.yt-live-chat-paid-message-renderer,
				yt-live-chat-paid-message-renderer #header.yt-live-chat-paid-message-renderer,
				#header.yt-live-chat-paid-message-renderer,
				#content.yt-live-chat-paid-message-renderer,
				yt-live-chat-membership-item-renderer[show-only-header] #header.yt-live-chat-membership-item-renderer,
				#header.yt-live-chat-membership-item-renderer,
				#content.yt-live-chat-membership-item-renderer,
				#header.ytd-sponsorships-live-chat-header-renderer,
				#contents.yt-live-chat-mode-change-message-renderer,
				#card.yt-live-chat-viewer-engagement-message-renderer,
				#bumper-content.yt-bumper-user-edu-content-view-model,
				yt-live-chat-banner-renderer.yt-live-chat-banner-manager,
				#menu.yt-live-chat-paid-sticker-renderer,
				#menu.yt-live-chat-paid-message-renderer,
				#menu.yt-live-chat-membership-item-renderer,
				#menu.ytd-sponsorships-live-chat-header-renderer,
				#menu.yt-live-chat-viewer-engagement-message-renderer
			) {
				background: none;
			}
			& :is(
				yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #card.yt-live-chat-paid-sticker-renderer,
				yt-live-chat-paid-message-renderer #card.yt-live-chat-paid-message-renderer,
				#card.yt-live-chat-membership-item-renderer,
				#header.ytd-sponsorships-live-chat-header-renderer,
				#contents.yt-live-chat-mode-change-message-renderer,
				#card.yt-live-chat-viewer-engagement-message-renderer,
				#bumper-content.yt-bumper-user-edu-content-view-model,
				yt-live-chat-banner-renderer.yt-live-chat-banner-manager
			) {
				position: relative;

				&::before {
					position: absolute;
					top: 0;
					left: 0;
					z-index: -1;
					width: calc(100% - 6px);
					height: calc(100% - 6px);
					content: '';
				}
			}
			& yt-live-chat-pinned-message-renderer :is(
				yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #card.yt-live-chat-paid-sticker-renderer,
				#card.yt-live-chat-membership-item-renderer,
				#header.ytd-sponsorships-live-chat-header-renderer
			) {
				backdrop-filter: blur(8px);
			}
			& :is(
				yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #card.yt-live-chat-paid-sticker-renderer,
				yt-live-chat-paid-message-renderer #card.yt-live-chat-paid-message-renderer,
				#header.yt-live-chat-membership-item-renderer,
				#content.yt-live-chat-membership-item-renderer,
				#header.ytd-sponsorships-live-chat-header-renderer,
				#contents.yt-live-chat-mode-change-message-renderer,
				#card.yt-live-chat-viewer-engagement-message-renderer,
				#bumper-content.yt-bumper-user-edu-content-view-model,
				yt-live-chat-banner-renderer.yt-live-chat-banner-manager
			) {
				position: relative;

				&::after {
					opacity: var(--ytcex-fullscreen-chat-card-opacity-def);
					position: absolute;
					top: 0;
					left: 0;
					z-index: -1;
					width: 100%;
					height: 100%;
					content: '';
				}
			}
			/* border */
			& yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #card.yt-live-chat-paid-sticker-renderer::before {
				border: 3px solid var(--yt-live-chat-paid-sticker-background-color);
				border-radius: 12px;
			}
			& yt-live-chat-paid-message-renderer #card.yt-live-chat-paid-message-renderer::before {
				border: 3px solid var(--yt-live-chat-paid-message-background-color,#1565c0);
				border-radius: 12px;
			}
			& #card.yt-live-chat-membership-item-renderer::before {
				border: 3px solid var(--yt-live-chat-sponsor-color);
				border-radius: 4px;
			}
			& #header.yt-live-chat-membership-item-renderer::before {
				border: 3px solid var(--yt-live-chat-sponsor-header-color);
				border-radius: 4px 4px 0 0;
			}
			& #content.yt-live-chat-membership-item-renderer::before {
				border: 3px solid var(--yt-live-chat-sponsor-color);
				border-radius: 0 0 4px 4px;
			}
			& #header.ytd-sponsorships-live-chat-header-renderer::before {
				border: 3px solid var(--yt-live-chat-sponsor-color);
				border-radius: 4px;
			}
			& #contents.yt-live-chat-mode-change-message-renderer::before {
				border: 3px solid var(--yt-live-chat-mode-change-background-color,var(--yt-deprecated-opalescence-soft-grey));
				border-radius: 4px;
			}
			& :is(
				#card.yt-live-chat-viewer-engagement-message-renderer,
				#bumper-content.yt-bumper-user-edu-content-view-model
			)::before {
				border: 3px solid var(--yt-live-chat-vem-background-color);
				border-radius: 4px;
			}
			& yt-live-chat-banner-renderer.yt-live-chat-banner-manager {
				&::before {
					border: 3px solid var(--yt-spec-inverted-background);
					border-radius: 8px;
				}
				&[collapsed]::before {
					border-radius: 22px;
				}
			}
			/* background */
			& yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #card.yt-live-chat-paid-sticker-renderer::after {
				border-radius: 12px;
				background-color: var(--yt-live-chat-paid-sticker-background-color);
			}
			& yt-live-chat-paid-message-renderer #card.yt-live-chat-paid-message-renderer::after {
				border-radius: 12px;
				background-color: var(--yt-live-chat-paid-message-background-color,#1565c0);
			}
			& yt-live-chat-membership-item-renderer[show-only-header] #header.yt-live-chat-membership-item-renderer::after {
				border-radius: 4px;
				background-color: var(--yt-live-chat-sponsor-color);
			}
			& #header.yt-live-chat-membership-item-renderer::after {
				border-radius: 4px 4px 0 0;
				background-color: var(--yt-live-chat-sponsor-header-color);
			}
			& #content.yt-live-chat-membership-item-renderer::after {
				border-radius: 0 0 4px 4px;
				background-color: var(--yt-live-chat-sponsor-color);
			}
			& #header.ytd-sponsorships-live-chat-header-renderer::after {
				border-radius: 4px;
				background-color: var(--yt-live-chat-sponsor-color);
			}
			& #contents.yt-live-chat-mode-change-message-renderer::after {
				border-radius: 4px;
				background-color: var(--yt-live-chat-mode-change-background-color,var(--yt-deprecated-opalescence-soft-grey));
			}
			& :is(
				#card.yt-live-chat-viewer-engagement-message-renderer,
				#bumper-content.yt-bumper-user-edu-content-view-model
			)::after {
				border-radius: 4px;
				background-color: var(--yt-live-chat-vem-background-color);
			}
			& yt-live-chat-banner-renderer.yt-live-chat-banner-manager::after {
				background-color: var(--yt-spec-inverted-background);
			}
			/* acrylic */
			& yt-live-chat-banner-renderer.yt-live-chat-banner-manager {
				backdrop-filter: blur(8px);
			}
		}
		/* optional card-opacity-hover */
		&:not([ytcex-fullscreen-chat-chat-docking]):hover {
			:is(
				yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #card.yt-live-chat-paid-sticker-renderer,
				yt-live-chat-paid-message-renderer #card.yt-live-chat-paid-message-renderer,
				yt-live-chat-membership-item-renderer[show-only-header] #header.yt-live-chat-membership-item-renderer,
				#header.yt-live-chat-membership-item-renderer,
				#content.yt-live-chat-membership-item-renderer,
				#header.ytd-sponsorships-live-chat-header-renderer,
				#contents.yt-live-chat-mode-change-message-renderer,
				#card.yt-live-chat-viewer-engagement-message-renderer,
				#bumper-content.yt-bumper-user-edu-content-view-model,
				yt-live-chat-banner-renderer.yt-live-chat-banner-manager
			)::after {
				opacity: var(--ytcex-fullscreen-chat-card-opacity-hover);
				transition: opacity .2s;
			}
		}
	}
}
